openapi: 3.1.0
info:
  title: Terraform HCP Proxy API
  contact: {}
  version: 0.1.0
servers:
- url: https://deploy.formance.cloud
  description: Production server
- url: https://deploy.staging.formance.cloud
  description: Staging server
- url: http://localhost:8080
  description: Local server
paths:
  /apps:
    get:
      summary: List organization apps
      operationId: listApps
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Apps retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new app
      operationId: createApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
      responses:
        '201':
          description: App created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apps/{id}:
    put:
      summary: Update an app
      operationId: updateApp
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppRequest'
      responses:
        '204':
          description: App updated successfully
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: read app details
      operationId: readApp
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: |
          Comma-separated list of related resources to include.
          - `state`: Include the current Terraform workspace state.
        schema:
          type: array
          items:
            type: string
            enum:
            - state
      responses:
        '200':
          description: App details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete an app
      operationId: deleteApp
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: App details retrieved successfully
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apps/{id}/variables:
    get:
      summary: Get all variables of an app
      operationId: readAppVariables
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: App variables retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadVariablesResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create variable for an app
      operationId: createAppVariable
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariableRequest'
      responses:
        '201':
          description: Variable created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVariableResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apps/{id}/variables/{variableId}:
    delete:
      summary: Delete a variable from an app
      operationId: deleteAppVariable
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: variableId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Variable deleted successfully
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /manifests:
    post:
      summary: Create a new manifest
      operationId: createManifest
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
        description: Name for the manifest
      - name: appId
        in: query
        required: false
        schema:
          type: string
        description: Optional app ID to scope the manifest to a specific app
      requestBody:
        required: true
        content:
          application/yaml:
            schema:
              type: string
              format: binary
              description: YAML manifest content
          application/json:
            schema:
              type: object
              description: JSON manifest content
      responses:
        '201':
          description: Manifest created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateManifestResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List manifests in the organization
      operationId: listManifests
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: appId
        in: query
        required: false
        schema:
          type: string
        description: Filter manifests by app ID (includes org-wide manifests as fallback)
      responses:
        '200':
          description: Manifests retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListManifestsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /manifests/{manifestId}:
    get:
      summary: Read a manifest
      operationId: readManifest
      parameters:
      - name: manifestId
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        required: false
        schema:
          type: string
        description: Comma-separated includes (e.g. "latest" to embed latest version content)
      responses:
        '200':
          description: Manifest retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManifestResponse'
            application/gzip:
              schema:
                type: string
                format: binary
                description: Transpiled tar.gz of the latest manifest version
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update manifest metadata
      operationId: updateManifest
      parameters:
      - name: manifestId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateManifestRequest'
      responses:
        '200':
          description: Manifest updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManifestResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a manifest and all its versions
      operationId: deleteManifest
      parameters:
      - name: manifestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Manifest deleted successfully
        '409':
          description: Manifest is still referenced by deployments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /manifests/{manifestId}/versions:
    post:
      summary: Push a new version of a manifest
      operationId: pushManifestVersion
      parameters:
      - name: manifestId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/yaml:
            schema:
              type: string
              format: binary
              description: YAML manifest content
          application/json:
            schema:
              type: object
              description: JSON manifest content
      responses:
        '201':
          description: Manifest version created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManifestVersionResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List versions of a manifest
      operationId: listManifestVersions
      parameters:
      - name: manifestId
        in: path
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Manifest versions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListManifestVersionsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /manifests/{manifestId}/versions/{version}:
    get:
      summary: Get a specific manifest version with content
      operationId: readManifestVersion
      parameters:
      - name: manifestId
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: path
        required: true
        description: Version number or "latest"
        schema:
          type: string
      - name: accept
        in: header
        required: false
        description: |
          The desired response format.
          - `application/json`: Returns the version metadata and content in JSON format.
          - `application/x-yaml`: Returns the raw manifest content as YAML.
        schema:
          type: string
          enum:
          - application/json
          - application/x-yaml
      responses:
        '200':
          description: Manifest version retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManifestVersionResponse'
            application/x-yaml:
              schema:
                type: string
                format: binary
                description: Raw manifest YAML content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments:
    post:
      summary: Create a deployment (triggers a run)
      operationId: createDeployment
      parameters:
      - name: appId
        in: query
        description: App ID (required for inline YAML deploys)
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
          application/x-yaml:
            schema:
              type: string
              format: binary
              description: Inline YAML manifest content (see Application schema)
          application/yaml:
            schema:
              type: string
              format: binary
              description: Inline YAML manifest content (see Application schema)
      responses:
        '201':
          description: Deployment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List deployments
      operationId: listDeployments
      parameters:
      - name: appId
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Deployments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeploymentsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments/{deploymentId}:
    get:
      summary: Get a single deployment
      operationId: readDeployment
      parameters:
      - name: deploymentId
        in: path
        required: true
        schema:
          type: string
      - name: accept
        in: header
        required: false
        description: |
          The desired response format.
          - `application/json`: Returns the deployment metadata in JSON format.
          - `application/gzip`: Returns the full configuration version as a gzip archive.
          - `application/yaml`: Returns the original application manifest content.
        schema:
          type: string
          enum:
          - application/json
          - application/gzip
          - application/yaml
      - name: include
        in: query
        required: false
        description: |
          Comma-separated list of related resources to include.
          - `state`: Include the Terraform state produced by this deployment's run.
        schema:
          type: array
          items:
            type: string
            enum:
            - state
      responses:
        '200':
          description: Deployment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'
            application/gzip:
              schema:
                type: string
                format: binary
                description: Configuration version archive
            application/yaml:
              schema:
                type: string
                format: binary
                description: Original application manifest content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments/{deploymentId}/logs:
    get:
      summary: Get run logs for a deployment
      operationId: readDeploymentLogs
      parameters:
      - name: deploymentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deployment logs retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadLogsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Application:
      $ref: '#/components/schemas/application'
    State:
      type: object
      required:
      - stack
      properties:
        stack:
          type: object
          description: The stack details from the Terraform state
          additionalProperties: true
    ReadManifestResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: string
          format: binary
          description: YAML manifest content
    ReadLogsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Log'
    Log:
      type: object
      required:
      - message
      - timestamp
      - module
      properties:
        message:
          type: string
          description: Log message
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the log was created
        module:
          type: string
          description: Module or component that generated the log
        diagnostic:
          type: object
          description: Detailed log message
          required:
          - severity
          - detail
          - summary
          properties:
            severity:
              type: string
              description: Severity of the log message
            detail:
              type: string
            summary:
              type: string
              description: Brief summary of the log message
    PaginationResponse:
      type: object
      properties:
        currentPage:
          type: integer
          description: Current page number
        previousPage:
          type: integer
          description: Previous page number
        nextPage:
          type: integer
          description: Next page number
        totalPages:
          type: integer
          description: Total number of pages
        totalCount:
          type: integer
          description: Total number of items
    ListAppsResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/PaginationResponse'
          - type: object
            required:
            - items
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/App'
    AppResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/App'
    App:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Unique identifier for the app
        name:
          type: string
          description: Name of the app
        stackId:
          type: string
          description: Optional existing stack ID claimed by this app
        state:
          $ref: '#/components/schemas/State'
    CreateAppRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the app
        stackId:
          type: string
          description: Optional existing stack ID to claim
    UpdateAppRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Updated name for the app
    ReadVariablesResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/Variable'
          - $ref: '#/components/schemas/PaginationResponse'
    CreateVariableRequest:
      type: object
      required:
      - variable
      properties:
        variable:
          $ref: '#/components/schemas/VariableData'
    CreateVariableResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Variable'
    VariableData:
      type: object
      required:
      - key
      - value
      - sensitive
      properties:
        key:
          type: string
          description: Key of the variable
        value:
          type: string
          description: Value of the variable
        description:
          type: string
          description: Description of the variable
        sensitive:
          type: boolean
          description: Whether the variable is sensitive
    Variable:
      allOf:
      - $ref: '#/components/schemas/VariableData'
      - type: object
        required:
        - id
        properties:
          id:
            type: string
            description: Unique identifier for the variable
    Manifest:
      type: object
      required:
      - id
      - name
      - latestVersion
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          description: Unique identifier for the manifest
        appId:
          type: string
          description: Optional app ID the manifest is scoped to
        name:
          type: string
          description: Name of the manifest
        latestVersion:
          type: integer
          description: Latest version number
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the manifest was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the manifest was last updated
    ManifestVersion:
      type: object
      required:
      - manifestId
      - version
      - createdAt
      properties:
        manifestId:
          type: string
          description: ID of the manifest this version belongs to
        version:
          type: integer
          description: Version number
        content:
          type: string
          format: byte
          description: Manifest content (base64-encoded). Null when listing versions, present when reading a specific version.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the version was created
    CreateManifestResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - id
          - version
          - name
          - createdAt
          properties:
            id:
              type: string
            appId:
              type: string
            version:
              type: integer
            name:
              type: string
            createdAt:
              type: string
              format: date-time
    ManifestResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Manifest'
    ManifestVersionResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/ManifestVersion'
    ListManifestsResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/PaginationResponse'
          - type: object
            required:
            - items
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/Manifest'
    ListManifestVersionsResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/PaginationResponse'
          - type: object
            required:
            - items
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/ManifestVersion'
    DeploymentResource:
      type: object
      required:
      - id
      - appId
      - workspaceId
      - runStatus
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        appId:
          type: string
        manifestId:
          type: string
        manifestVersion:
          type: integer
        hasInlineContent:
          type: boolean
        workspaceId:
          type: string
        runId:
          type: string
        runStatus:
          type: string
        configVersionId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        state:
          $ref: '#/components/schemas/State'
    CreateDeploymentRequest:
      type: object
      required:
      - appId
      properties:
        appId:
          type: string
          description: ID of the app to deploy to
        manifestId:
          type: string
          description: Manifest catalog ID (for manifest-reference mode)
        manifestVersion:
          type: integer
          description: Manifest version (for manifest-reference mode)
    DeploymentResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/DeploymentResource'
    ListDeploymentsResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/PaginationResponse'
          - type: object
            required:
            - items
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/DeploymentResource'
    UpdateManifestRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Updated name for the manifest
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
      required:
      - errorCode
    V2ChartAccountMetadata:
      properties:
        default:
          type:
          - 'null'
          - string
      type: object
    V2ChartAccountRules:
      type: object
    DotSelf:
      type: object
    V2ChartSegment:
      additionalProperties: true
      properties:
        .metadata:
          additionalProperties:
            $ref: '#/components/schemas/V2ChartAccountMetadata'
          type: object
        .pattern:
          type:
          - 'null'
          - string
        .rules:
          $ref: '#/components/schemas/V2ChartAccountRules'
        .self:
          $ref: '#/components/schemas/DotSelf'
      type: object
    V2QueryTemplateVar:
      properties:
        default: {}
        type:
          type: string
      type: object
    V2QueryTemplate:
      properties:
        body:
          additionalProperties: {}
          type: object
        description:
          type:
          - 'null'
          - string
        params:
          additionalProperties: {}
          type: object
        resource:
          type:
          - 'null'
          - string
        vars:
          additionalProperties:
            $ref: '#/components/schemas/V2QueryTemplateVar'
          type: object
      type: object
    V2TransactionTemplate:
      properties:
        description:
          type:
          - 'null'
          - string
        runtime:
          type:
          - 'null'
          - string
        script:
          type:
          - 'null'
          - string
      type: object
    V2SchemaData:
      properties:
        chart:
          additionalProperties:
            $ref: '#/components/schemas/V2ChartSegment'
          type:
          - object
          - 'null'
        queries:
          additionalProperties:
            $ref: '#/components/schemas/V2QueryTemplate'
          type: object
        transactions:
          additionalProperties:
            $ref: '#/components/schemas/V2TransactionTemplate'
          type: object
      type: object
    Ledger:
      required:
      - name
      properties:
        name:
          type: string
        schema:
          additionalProperties:
            $ref: '#/components/schemas/V2SchemaData'
          type:
          - object
          - 'null'
      type: object
    Pool:
      properties:
        accountIds:
          items:
            type: string
          type: array
        query:
          additionalProperties: {}
          type: object
      type: object
    ReconciliationLedger:
      required:
      - name
      - query
      properties:
        name:
          type: string
        query:
          additionalProperties: {}
          type:
          - object
          - 'null'
      type: object
    ReconciliationPolicy:
      required:
      - name
      - ledger
      - pool
      properties:
        ledger:
          $ref: '#/components/schemas/ReconciliationLedger'
        name:
          type: string
        pool:
          type: string
      type: object
    RegionSelector:
      properties:
        id:
          type: string
        name:
          type: string
      type: object
    Webhook:
      required:
      - name
      - endpoint
      properties:
        endpoint:
          type: string
        events:
          items:
            type: string
          type: array
        name:
          type: string
        secret:
          type: string
      type: object
    Ledgers:
      items:
        $ref: '#/components/schemas/Ledger'
      type:
      - 'null'
      - array
    Payments:
      properties:
        connectors:
          items:
            required:
            - name
            - provider
            properties:
              configuration:
                additionalProperties: {}
                type: object
              credentials:
                additionalProperties:
                  type: string
                type: object
              name:
                type: string
              provider:
                type: string
            type: object
          type: array
        pools:
          additionalProperties:
            $ref: '#/components/schemas/Pool'
          type: object
      type: object
    Reconciliation:
      properties:
        policies:
          items:
            $ref: '#/components/schemas/ReconciliationPolicy'
          type: array
      type: object
    Stack:
      required:
      - name
      - region
      properties:
        name:
          type: string
        region:
          $ref: '#/components/schemas/RegionSelector'
        version:
          type: string
      type: object
    Webhooks:
      items:
        $ref: '#/components/schemas/Webhook'
      type:
      - 'null'
      - array
    application:
      $schema: http://json-schema.org/draft-04/schema
      required:
      - stack
      definitions:
        DotSelf:
          type: object
        Ledger:
          required:
          - name
          properties:
            name:
              type: string
            schema:
              additionalProperties:
                $ref: '#/components/schemas/V2SchemaData'
              type:
              - object
              - 'null'
          type: object
        Ledgers:
          items:
            $ref: '#/components/schemas/Ledger'
          type:
          - 'null'
          - array
        Payments:
          properties:
            connectors:
              items:
                required:
                - name
                - provider
                properties:
                  configuration:
                    additionalProperties: {}
                    type: object
                  credentials:
                    additionalProperties:
                      type: string
                    type: object
                  name:
                    type: string
                  provider:
                    type: string
                type: object
              type: array
            pools:
              additionalProperties:
                $ref: '#/components/schemas/Pool'
              type: object
          type: object
        Pool:
          properties:
            accountIds:
              items:
                type: string
              type: array
            query:
              additionalProperties: {}
              type: object
          type: object
        Reconciliation:
          properties:
            policies:
              items:
                $ref: '#/components/schemas/ReconciliationPolicy'
              type: array
          type: object
        ReconciliationLedger:
          required:
          - name
          - query
          properties:
            name:
              type: string
            query:
              additionalProperties: {}
              type:
              - object
              - 'null'
          type: object
        ReconciliationPolicy:
          required:
          - name
          - ledger
          - pool
          properties:
            ledger:
              $ref: '#/components/schemas/ReconciliationLedger'
            name:
              type: string
            pool:
              type: string
          type: object
        RegionSelector:
          properties:
            id:
              type: string
            name:
              type: string
          type: object
        Stack:
          required:
          - name
          - region
          properties:
            name:
              type: string
            region:
              $ref: '#/components/schemas/RegionSelector'
            version:
              type: string
          type: object
        V2ChartAccountMetadata:
          properties:
            default:
              type:
              - 'null'
              - string
          type: object
        V2ChartAccountRules:
          type: object
        V2ChartSegment:
          additionalProperties: true
          properties:
            .metadata:
              additionalProperties:
                $ref: '#/components/schemas/V2ChartAccountMetadata'
              type: object
            .pattern:
              type:
              - 'null'
              - string
            .rules:
              $ref: '#/components/schemas/V2ChartAccountRules'
            .self:
              $ref: '#/components/schemas/DotSelf'
          type: object
        V2QueryTemplate:
          properties:
            body:
              additionalProperties: {}
              type: object
            description:
              type:
              - 'null'
              - string
            params:
              additionalProperties: {}
              type: object
            resource:
              type:
              - 'null'
              - string
            vars:
              additionalProperties:
                $ref: '#/components/schemas/V2QueryTemplateVar'
              type: object
          type: object
        V2QueryTemplateVar:
          properties:
            default: {}
            type:
              type: string
          type: object
        V2SchemaData:
          properties:
            chart:
              additionalProperties:
                $ref: '#/components/schemas/V2ChartSegment'
              type:
              - object
              - 'null'
            queries:
              additionalProperties:
                $ref: '#/components/schemas/V2QueryTemplate'
              type: object
            transactions:
              additionalProperties:
                $ref: '#/components/schemas/V2TransactionTemplate'
              type: object
          type: object
        V2TransactionTemplate:
          properties:
            description:
              type:
              - 'null'
              - string
            runtime:
              type:
              - 'null'
              - string
            script:
              type:
              - 'null'
              - string
          type: object
        Webhook:
          required:
          - name
          - endpoint
          properties:
            endpoint:
              type: string
            events:
              items:
                type: string
              type: array
            name:
              type: string
            secret:
              type: string
          type: object
        Webhooks:
          items:
            $ref: '#/components/schemas/Webhook'
          type:
          - 'null'
          - array
      properties:
        ledgers:
          $ref: '#/components/schemas/Ledgers'
        payments:
          $ref: '#/components/schemas/Payments'
        reconciliation:
          $ref: '#/components/schemas/Reconciliation'
        stack:
          $ref: '#/components/schemas/Stack'
        webhooks:
          $ref: '#/components/schemas/Webhooks'
      type: object
