openapi: 3.1.0
info:
  title: Terraform HCP Proxy API
  contact: {}
  version: "0.1.0"
servers:
- url: https://deploy.formance.cloud
  description: Production server
- url: https://deploy-server.staging.formance.cloud
  description: Staging server
- url: http://localhost:8080
  description: Local server
paths:
  /apps:
    get:
      summary: List organization apps
      operationId: listApps
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        "200":
          description: Apps retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppsResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a new app
      operationId: createApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAppRequest"
      responses:
        "201":
          description: App created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}:
    put:
      summary: Update an app
      operationId: updateApp
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAppRequest"
      responses:
        "204":
          description: App updated successfully
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      summary: read app details
      operationId: readApp
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: App details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete an app
      operationId: deleteApp
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: App details retrieved successfully
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/current-state-version:
    get:
      summary: Get the current state version of an app
      operationId: readAppCurrentStateVersion
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Current state version retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadStateResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/variables:
    get:
      summary: Get all variables of an app
      operationId: readAppVariables
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        "200":
          description: App variables retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadVariablesResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create variable for an app
      operationId: createAppVariable
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVariableRequest"
      responses:
        "201":
          description: Variable created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateVariableResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/variables/{variableId}:
    delete:
      summary: Delete a variable from an app
      operationId: deleteAppVariable
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: variableId
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Variable deleted successfully
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/runs:
    get:
      summary: Get runs of an app
      operationId: readAppRuns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        "200":
          description: App runs retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRunsResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/versions:
    get:
      summary: Get versions of an app
      operationId: readAppVersions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        "200":
          description: App versions retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVersionsResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/manifest:
    post:
      summary: Push a new manifest version
      operationId: pushManifest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/yaml:
            schema:
              type: string
              format: binary
              description: YAML manifest content with version field
          application/json:
            schema:
              $ref: "#/components/schemas/Manifest"
      responses:
        "201":
          description: Manifest pushed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManifestVersionResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/manifest/versions:
    get:
      summary: List manifest versions
      operationId: listManifestVersions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Manifest versions retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListManifestsResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/run:
    get:
      summary: Get the current run of an app
      operationId: readCurrentRun
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Current run retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /versions/{id}:
    get:
      summary: Get a specific version
      operationId: readVersion
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: accept
        in: header
        required: false
        description: |
          The desired response format.
          - `application/json`: Returns the version metadata in JSON format.
          - `application/gzip`: Returns the version as a gzip archive.
          - `application/yaml`: Returns the original manifest content.
        schema:
          type: string
          enum:
          - application/json
          - application/gzip
          - application/yaml
      responses:
        "200":
          description: version retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppVersionResponse"
            application/gzip:
              schema:
                type: string
                format: binary
                description: Archive
            application/yaml:
              schema:
                type: string
                format: binary
                description: Original manifest content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /runs/{id}:
    get:
      summary: Get the run of a version
      operationId: readRun
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Run retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /runs/{id}/logs:
    get:
      summary: Get logs of a run by its ID
      operationId: readRunLogs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Run logs retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadLogsResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/run/logs:
    get:
      summary: Get logs of the current run of an app
      operationId: readCurrentRunLogs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Current run logs retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadLogsResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/version:
    get:
      summary: Get the current version of an app
      operationId: readCurrentAppVersion
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: accept
        in: header
        required: false
        description: |
          The desired response format.
          - `application/json`: Returns the version metadata in JSON format.
          - `application/gzip`: Returns the version as a gzip archive.
          - `application/yaml`: Returns the original manifest content.
        schema:
          type: string
          enum:
          - application/json
          - application/gzip
          - application/yaml
      - name: from
        in: query
        required: false
        schema:
          type: string
          enum:
          - state
      responses:
        "200":
          description: Current app version retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppVersionResponse"
            application/gzip:
              schema:
                type: string
                format: binary
                description: Archive
            application/yaml:
              schema:
                type: string
                format: binary
                description: Original manifest content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/deployments:
    get:
      summary: List deployments for an app
      operationId: listDeployments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Deployments retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDeploymentsResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a deployment for an app
      operationId: createDeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDeploymentRequest"
      responses:
        "201":
          description: Deployment created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/deployments/{name}:
    get:
      summary: Read a deployment
      operationId: readDeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Deployment retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a deployment
      operationId: deleteDeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Deployment deleted successfully
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /apps/{id}/deployments/{name}/deploy:
    post:
      summary: Deploy a manifest to a deployment
      operationId: deployToDeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: version
        in: query
        required: false
        description: Manifest version to deploy. If omitted, deploys the latest version.
        schema:
          type: integer
      responses:
        "202":
          description: Manifest deployed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunResponse"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    ReadStateResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: "#/components/schemas/State"
    State:
      type: object
      required:
      - stack
      properties:
        stack:
          type: object
          description: The stack details from the Terraform state
          additionalProperties: true
    ReadManifestResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: string
          format: binary
          description: YAML manifest content
    ReadLogsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Log"
    Log:
      type: object
      required:
      - message
      - timestamp
      - module
      properties:
        message:
          type: string
          description: Log message
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the log was created
        module:
          type: string
          description: Module or component that generated the log
        diagnostic:
          type: object
          description: Detailed log message
          required:
          - severity
          - detail
          - summary
          properties:
            severity:
              type: string
              description: Severity of the log message
            detail:
              type: string
            summary:
              type: string
              description: Brief summary of the log message
    PaginationResponse:
      type: object
      properties:
        currentPage:
          type: integer
          description: Current page number
        previousPage:
          type: integer
          description: Previous page number
        nextPage:
          type: integer
          description: Next page number
        totalPages:
          type: integer
          description: Total number of pages
        totalCount:
          type: integer
          description: Total number of items
    ListAppsResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: "#/components/schemas/PaginationResponse"
          - type: object
            required:
            - items
            properties:
              items:
                type: array
                items:
                  $ref: "#/components/schemas/App"
    AppResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: "#/components/schemas/App"
    ListRunsResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: "#/components/schemas/PaginationResponse"
          - type: object
            required:
            - items
            properties:
              items:
                type: array
                items:
                  $ref: "#/components/schemas/Run"
    ListVersionsResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - $ref: "#/components/schemas/PaginationResponse"
          - type: object
            required:
            - items
            properties:
              items:
                type: array
                items:
                  $ref: "#/components/schemas/ConfigurationVersion"
    AppVersionResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: "#/components/schemas/ConfigurationVersion"
    App:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Unique identifier for the app
        name:
          type: string
          description: Name of the app
        currentConfigurationVersion:
          $ref: "#/components/schemas/ConfigurationVersion"
        currentRun:
          $ref: "#/components/schemas/Run"
    RunResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: "#/components/schemas/Run"
    Run:
      type: object
      required:
      - id
      - status
      - autoApply
      - createdAt
      - isDestroy
      - hasChanges
      - message
      - planOnly
      - refresh
      - refreshOnly
      - savePlan
      properties:
        id:
          type: string
          description: Unique identifier for the run
        autoApply:
          type: boolean
          description: Whether the run was auto-applied
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the run was created
        isDestroy:
          type: boolean
          description: Whether the run is a destroy operation
        hasChanges:
          type: boolean
          description: Whether the run has changes
        message:
          type: string
          description: Message associated with the run
        planOnly:
          type: boolean
          description: Whether the run is a plan-only operation
        refresh:
          type: boolean
          description: Whether the run is a refresh operation
        refreshOnly:
          type: boolean
          description: Whether the run is a refresh-only operation
        savePlan:
          type: boolean
          description: Whether the run saves the plan
        status:
          type: string
          description: Status of the run
        configurationVersion:
          $ref: "#/components/schemas/ConfigurationVersion"

    ConfigurationVersion:
      type: object
      required:
      - id
      - status
      - autoQueueRuns
      - error
      - errorMessage
      properties:
        id:
          type: string
          description: Unique identifier for the configuration version
        autoQueueRuns:
          type: boolean
          description: Auto queue runs when a new version is uploaded
        error:
          type: string
          description: Error code if the version is in an error state
        errorMessage:
          type: string
          description: Error message if the version is in an error state
        status:
          type: string
          enum:
          - archived
          - errored
          - pending
          - fetching
          - uploaded
          - ""
    CreateAppRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: User-provided name for the app
    UpdateAppRequest:
      type: object
    ReadVariablesResponse:
      type: object
      required:
      - data
      properties:
        data:
          allOf:
          - type: object
            properties:
              items:
                type: array
                items:
                  $ref: "#/components/schemas/Variable"
          - $ref: "#/components/schemas/PaginationResponse"
    CreateVariableRequest:
      type: object
      required:
      - variable
      properties:
        variable:
          $ref: "#/components/schemas/VariableData"
    CreateVariableResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: "#/components/schemas/Variable"
    VariableData:
      type: object
      required:
      - key
      - value
      - sensitive
      properties:
        key:
          type: string
          description: Key of the variable
        value:
          type: string
          description: Value of the variable
        description:
          type: string
          description: Description of the variable
        sensitive:
          type: boolean
          description: Whether the variable is sensitive
    Variable:
      allOf:
      - $ref: "#/components/schemas/VariableData"
      - type: object
        required:
        - id
        properties:
          id:
            type: string
            description: Unique identifier for the variable
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
      required:
      - errorCode
    Deployment:
      type: object
      required:
      - name
      - appId
      - stackId
      - workspaceId
      properties:
        name:
          type: string
          description: Name of the deployment
        appId:
          type: string
          description: ID of the parent app
        stackId:
          type: string
          description: ID of the Formance Cloud stack
        workspaceId:
          type: string
          description: ID of the TFC workspace
    DeploymentResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: "#/components/schemas/Deployment"
    ListDeploymentsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Deployment"
    CreateDeploymentRequest:
      type: object
      required:
      - name
      - stackId
      properties:
        name:
          type: string
          description: Name for the deployment
        stackId:
          type: string
          description: ID of the Formance Cloud stack to deploy to
    Manifest:
      type: object
      description: Application manifest with version field
      required:
      - version
      properties:
        version:
          type: integer
          description: Manifest version number (monotonically increasing)
        ledgers:
          type: array
          items:
            type: object
            additionalProperties: true
        payments:
          type: object
          additionalProperties: true
        reconciliation:
          type: object
          additionalProperties: true
        webhooks:
          type: array
          items:
            type: object
            additionalProperties: true
    ManifestVersion:
      type: object
      required:
      - appId
      - version
      - content
      - createdAt
      properties:
        appId:
          type: string
          description: ID of the parent app
        version:
          type: integer
          description: Manifest version number
        content:
          type: string
          format: binary
          description: Raw manifest content
        createdAt:
          type: string
          format: date-time
          description: When this version was pushed
    ManifestVersionResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: "#/components/schemas/ManifestVersion"
    ListManifestsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManifestVersion"
